<h1>Add Bookmark</h1>
<form action="/bookmarks" method="post">
  <label for="new_bookmark_url">
    URL
    <input type="text" name="new_bookmark_url">
  </label>
  <input type="submit" value="Submit">
</form>